# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Parcel related files
dist/
.cache/
.parcel-cache/